@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @apply bg-base-100
}

.outer-container {
  position: relative;
}

.display {
  height: auto;
  width: 100%;
  margin-bottom: 1rem;
  font-family: monospace;
  color: white;
}

.expression-display {
    text-align: end;
    font-size: 14pt;
  }

.result-display {
    text-align: end;
    font-size: 16pt;
}

.button-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#zero {
  grid-column: span 2;
  width: 170px;
}

#equals {
  height: 200%;
}

#clear {
  grid-column: span 2;
  width: 170px;
}

.card {
    @apply p-4
}